# format options
--swiftversion 6.0
--indent 4

# file options
--exclude /Tuist

# rules
--disable trailingCommas
--enable blockComments
--enable markTypes
--enable noExplicitOwnership
--enable sortSwitchCases
--enable wrapEnumCases